# Example gradle.properties
# Replace these values with actual ones in your local gradle.properties file

properties.driver=org.postgresql.Driver
properties.url=jdbc:postgresql://localhost:5433/users_db
properties.username=postgres
properties.password=root

jooq.generator.name=org.jooq.codegen.JavaGenerator
jooq.database.name=org.jooq.meta.postgres.PostgresDatabase
jooq.database.input_schema=public
jooq.database.includes=.*
jooq.target.package=jooq
jooq.target.directory=build/generated/source

liquibase.changelogFile=db/changelog/db.changelog-master.xml
liquibase.searchPath=src/main/resources